body {
    color: rgb(255, 255, 255);
    background-image: url('back.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
}

p {
    margin: 0;
}

.intro {
    
    color: rgb(0, 0, 0);
    margin: 0%;
    background: rgb(255, 255, 255);
    justify-content: center;
    vertical-align: text-top;
    text-align: center;
    
}
.vertal{
    display: flex;
    align-items: center;
}

.spa {
    flex-basis:50%;
  }


.box {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    margin: 2% 2%;
    padding: 1%;
    box-shadow: 16px 16px rgb(0, 0, 0);
    width: 80%;
   
    justify-content: center;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

body, html{
    height: 100%;
    margin: 0;
    font-size:16px;
}

.pimg1, .pimg2, .pimg3, .pimgmarching, .pimgmarching2, .parallaxBig, .parallaxSmall{
    position:relative;
    opacity:0.70;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;

    background-attachment:fixed;
}

.pimg1{
    background-image:url('../assets/backgrounds/back0.jpg');
    min-height: 800px;
}

.pimg2{
    background-image:url('../assets/backgrounds/back1.jpg');
    min-height: 400px;
}

.pimg3{
    background-image:url('../assets/backgrounds/back2.jpg');
    min-height: 400px;
}

.section{
    text-align:center;
    padding:5%;
}

.section-light{
    background-color:#FFF;
    color:#000;
}

.section-dark{
    background-color:#000;
    color:#FFF;
}

.ptext{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:27px;
    opacity:1.0;
}

.ptext .pborder{
    background-color:#000;
    color:#FFF;
    padding:4%;
}

.img_thumb {
    float: center;
    transform: translate(0px,-50%);
    height: 100%;
    position: relative;
}

.fadeIn {
    animation: transitionIn 0.75s;
}

.fadeInY {
    animation: transitionInY 0.75s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes transitionInY {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.img-use{
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.img-desc{
    transition: opacity 0.4s ,transform 0.4s;
}



.image-description {
    position: absolute;
    top: 130px;
    width: 100%;
    color: #FFF;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    
}

.img-desc:hover > .image-description{
    opacity:1;
}

.img-desc:hover {
    opacity: 0.8;
    transform: translateY(5px);
}

.pimgmarching{
    background-image:url('../assets/band/marching/bg.jpg');
    min-height: 800px;
}

.pimgmarching2{
    background-image:url('../assets/band/marching/bg.jpg');
    min-height: 400px;
}


.parallaxBig{
    min-height: 800px;
    
}

.parallaxSmall{
    min-height: 400px;
}

.noBullet {
    list-style-type:  none;
}

.audioPdf{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.cropped{
    width: 100%;
    height: 60%;
    overflow: hidden;
    align-content: center;
    text-align: center;
}


.section-footer{
    background-color:#000;
    color:#FFF;
    text-align: center;
}

#aplayer{
    width: 100%;
    height: 10%;
}

.fleft{
    width: 33%;
}

.textL {
    text-align: left;
}

.storeMarching2012{
    cursor: pointer;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
}

.product-title {
    width: 45%;
    text-align: left;
}

.product {
    text-align: left;
    display: flex;
}

.product-price {
    width: 20%;
    display: flex;
    align-items: center;
    
}

.products ion-icon {
    font-size: 21px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-container {
    background: rgb(0, 0, 0);
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}
